$softred:#ffc0cb;
$lightred: #ffd1d6;
$darkred:#800000;
//red
$green:#1aab4c;
$softgreen:#76bd47;
$yellow:#bad530;
$darkgreen:#135a4c;
//green

$dark:#36304A;
$dark-grey: #565656;
$soft-grey:#666666;
$semi-grey:#f7f7f7;